nohup.out
/secret_key
/static/audio
/experiments.db
/uploads

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask stuff:
instance/
.webassets-cache
