nohup.out
/secret_key
secret_key_google_text_to_speech
/static/audio
/*.db
/*.html
/uploads
/junk*
/experiments*
/*.wav
malcolm_notes.txt
quicksin_results.csv
exp*/

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store
.DS_Store

# Python environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask stuff:
instance/
.webassets-cache
