:root {
  --padding-value: calc(var(--playback-padding-scale) * var(--symbol-height));
  --border-value: calc(var(--playback-border-scale) * var(--symbol-height));
  --container-size: calc(var(--padding-value) * 2 + var(--symbol-height));
  --header-padding: calc(var(--title-size) * var(--header-padding-scale));
  --description-padding: calc(
      var(--description-size) * var(--description-padding-scale));
  --sound-size: calc(var(--container-size) / 12);
}

.hidden {
  display: none !important;
}
.answer {
  display: none;
}

body {
  margin: 0;
}

#content {
  min-height: 100dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#header {
  background: var(--primary);
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: var(--header-padding);
}
#footer {
  height: var(--title-size);
  padding: var(--header-padding);
  background: var(--secondary);
  color: white;
  font-family: var(--compact);
  font-size: var(--info-size);
}

#org > span, #username > span {
  display: inline-block;
  white-space: nowrap;
}
#project {
  flex-grow: 1;
  text-align: center;
}
#org, #project {
  font-family: var(--title);
  font-size: var(--title-size);
}
#username {
  font-family: var(--compact);
  display: inline-block;
  align-self: end;
  text-align: right;
  font-size: var(--info-size);
}
#username > span {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.center-wrapper {
  display: flex;
}
.offset-description, .spacer {
  flex: 1 1 0;
  padding: 0 var(--description-padding);
}
.offset-description {
  text-align: right;
  font-family: var(--compact);
  display: inline-block;
  align-self: center;
}
.center-wrapper {
  font-size: var(--description-size);
}

#next-wrapper {
  display: flex;
}
.next-mid-spacer {
  flex-grow: 3;
  max-width: 60rem;
}
.next-outer-spacer { flex-grow: 1; }
.base-button {
  font-family: var(--compact);
  color: white;
  background: var(--interact);
  font-size: var(--description-size);
  padding: var(--next-audio-padding);
  border-radius: var(--next-audio-padding);
  display: inline-block;
  cursor: pointer;
  border: 0.15rem solid var(--soft-grey);
}
.base-button[disabled] {
  background: var(--disabled);
  cursor: inherit;
}
#next-audio > span {
  font-size: var(--description-size);
  vertical-align: text-top;
}

#audio-description, #recording-description {
  color: var(--light);
}
#recording-wrapper.active #recording-description,
    #playback-wrapper.active #audio-description {
  color: var(--dark);
}
#recording-wrapper span::before {
  color: var(--soft-grey);
  font-size: var(--container-size);
  content: "mic_off";
}
#sound-wrapper.active span::before {
  color: var(--active);
  content: "mic";
}
#sound-wrapper {
  position: relative;
}
.sound-bar {
  --sound-color: var(--soft-grey);
  --sound-source: 48.5%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#sound-wrapper.active .sound-bar {
  --sound-source: 50%;
}
.sound-bar.active { --sound-color: var(--active); }
.sound-bar::before {
  --s: calc(var(--sound-size) * var(--r));
  content: "";
  display: block;
  height: var(--s);
  width: var(--s);
  margin-left: var(--sound-source);
  margin-top: calc(var(--sound-size) * 2);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border-style: solid;
  border-color: var(--sound-color) transparent transparent transparent;
  border-width: var(--sound-size);
}
.sound-bar.first { --r: 3; }
.sound-bar.second { --r: 6; }
.sound-bar.third { --r: 9; }

/* overlay */
body.overlaying #content {
  filter: blur(15px);
}
#results-overlay {
  display: none;
}
body.overlaying #results-overlay {
  display: flex;
}

#results-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}

#results-overlay {
  --max-cover: 90;
}

#results-overlay > div {
  width: calc(var(--max-cover) * 1dvw);
  height: calc(var(--max-cover) * 1dvh);
  position: relative;
}

#results-overlay img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
}

#results-clickable {
  max-height: 100%;
  margin: 0 auto;
  margin-top: calc(var(--max-cover) * 0.5dvh);
  transform: translateY(-50%);
}

#playing {
  margin-top: calc(var(--container-size) / 2 + var(--border-value));
  transform: translateY(-50%);
}

#interactive {
    flex-direction: row;
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
}

#audio-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 2;
}

#next-wrapper {
    flex-grow: 1;
}

#next-audio {
    align-self: flex-start;
}

#aux-data {
    padding: 5% 5% 5% 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-case {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: stretch;
}

.annotation {
    display: none;
}

.option {
    display: block;
    text-align: center;
}

.annotation:checked + .option {
    display: none;
}

.annotation:not(:checked) + .option {
    display: block;
}

.annotation:invalid + .option {
  background: var(--soft-grey);
}

.annotation:not(:checked) ~ .annotation:not(:checked) + .option {
  display: none;
}

.option-on, #quick-none { background: var(--record); }

#quick-options {
    order: 1;
    text-align: center;
}

form:invalid + #next-wrapper #next-audio {
  background: var(--disabled);
  cursor: inherit;
  pointer-events: none;
}
body {
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}
