.template {
  display: none;
}
.transcript:empty::before {
  content: "[empty]";
  color: red;
}
thead {
  background: cornflowerblue;
}
.userinfo {
  background: lightblue;
}
.username {
  float: left;
}
.time {
  float: right;
}
#showall {
  color: black;
}
.answer > span:not(:last-child)::after {
  content: ",\00a0";
}
.answer > span::before {
  display: block;
  text-align: center;
  font-family: monospace;
}
.answer > span {
  position: relative;
  display: inline-block;
}
.correct::before {
  content: "\2714";
}
.incorrect::before {
  content: "\10102";
}
body {
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}
th, .userinfo {
  color: #000000DE;
}

.answer {
  padding-bottom: 1rem
}
.incorrect::before {
  transform: translateY(-1rem);
}
.incorrect {
  transform: translateY(1rem);
}
